<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<!-- Contenido -->
	<section class="content">
		<form role="form" name="information">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-xs-12 box-header with-border pull-left">
							<h3 class="box-title">
								Información Particular
							</h3>
							<div class="box-tools pull-right"></div>
						</div>
					
						<div class="col-md-6 col-xs-12">
							<div class="form-group">
								<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelName' | translate}}:</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa fa-list-ul" aria-hidden="true"></i>
									</span> <input type="text" id="name" ng-model="general.name" class="form-control">
								</div>
							</div>
						</div>

						<div class="col-md-2 col-xs-12">
							<div class="form-group">
								<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelPhone' | translate}}:</label>
								<div class="input-group">
									<span class="input-group-addon"> <i class="fa fa-phone"
										aria-hidden="true"></i>
									</span> <input type="text" id="phone" ng-model="general.phone" class="form-control">
								</div>
							</div>
						</div>

						<div class="col-md-4 col-xs-12">
							<div class="form-group">
								<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelAddress' | translate}}:</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa fa-address-card" aria-hidden="true"></i>
									</span> <input type="text" id="address" ng-model="general.address" class="form-control">
								</div>
							</div>
						</div>

						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelCountry' | translate}}:</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa fa-address-card" aria-hidden="true"></i>
									</span> <input type="text" id="country" ng-model="general.country" class="form-control">
								</div>
							</div>
						</div>

						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelState' | translate}}:</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa fa-address-card" aria-hidden="true"></i>
									</span> <input type="text" id="state" ng-model="general.state" class="form-control">
								</div>
							</div>
						</div>

						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelCity' | translate}}:</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa fa-address-card" aria-hidden="true"></i>
									</span> <input type="text" id="city" ng-model="general.city" class="form-control">
								</div>
							</div>
						</div>

						<div class="col-md-3 col-xs-12">
							<div class="form-group">
								<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelZipCode' | translate}}:</label>
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="fa fa-address-card" aria-hidden="true"></i>
									</span> <input type="text" id="zipCode" ng-model="general.zipcode" class="form-control">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
			

			<div class="row">
				<div class="col-xs-12 box-header with-border pull-left">
					<h3 class="box-title">
						Información de Contacto
					</h3>
					<div class="box-tools pull-right"></div>
				</div>
			
				<div class="col-md-4 col-xs-12">
					<div class="form-group">
						<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelNameContact' | translate}}:</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-id-card"
								aria-hidden="true"></i>
							</span> <input type="text" id="contactName" ng-model="general.contactName" class="form-control">
						</div>
					</div>
				</div>

				<div class="col-md-4 col-xs-12">
					<div class="form-group">
						<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelPhoneContact' | translate}}:</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-phone"
								aria-hidden="true"></i>
							</span> <input type="text" id="phoneContact" ng-model="general.contactPhone" class="form-control">
						</div>
					</div>
				</div>

				<div class="col-md-4 col-xs-12">
					<div class="form-group">
						<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelEmailContact' | translate}}:</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="fa fa-paper-plane" aria-hidden="true"></i>
							</span> <input type="text" id="contactEmail" ng-model="general.contactEmail" class="form-control">
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 box-header with-border pull-left">
					<h3 class="box-title">
						Información Fiscal
					</h3>
					<div class="box-tools pull-right"></div>
				</div>
				
				<div class="col-md-3 col-xs-12">
					<div class="form-group">
						<label>RFC:</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-id-card"
								aria-hidden="true"></i>
							</span> 
								
							<input type="text" name="rfc" class="form-control" maxlength="13">
						</div>
					</div>
				</div>

				<div class="col-md-3 col-xs-12">
					<div class="form-group">
						<label>{{'PROVEEDORES.Registro.registroProveedores.tabElement.labelLegalStructure' | translate}}:</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-gavel"
								aria-hidden="true"></i>
							</span> <select 
								ng-model="general.legalCod"
								data-minimum-results-for-search="Infinity"
								idioma-s2="{{currentLanguage}}"
								class="form-control" style="width: 100%;"
								name="legalStructure" id="legalStructure"
								ng-options='option.cod as option.name for option in dateLegalStructure'>
								
								<option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-xs-12">
					<div class="form-group">
						<label>Domicilio:</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="fa fa-address-card" aria-hidden="true"></i>
							</span> <input type="text" id="addressFiscal" class="form-control">
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-xs-12">
					<div class="form-group">
						<label>Correo de Facturación:</label>
						<div class="input-group">
							<span class="input-group-addon"> <i
								class="fa fa-paper-plane"  aria-hidden="true"></i>
							</span> <input type="text" id="facturacion" class="form-control">
						</div>
					</div>
				</div>
			</div>
		</form>

	</section>
</body>
</html>